@model OnlineShop.Models.ProductTypes
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="ProductCategory-back-btn-wrapper ">
        <button class="btn btn-secondary ProductCategory-back-btn" onclick="window.history.back();">
            <i class="fa-solid fa-arrow-left"></i> Back
        </button>
    </div>
    <div class="container  ProductCategory-container">
    <h4 class="text-info text-center my-4">Product Type Details</h4>

    <form asp-action="Details" method="post" class="ProductCategory-form">
        <div class="p-4 rounded border ProductCategory-details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <dl class="row mb-4">
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.ProductType)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ProductType)
                </dd>
            </dl>

            <div class="form-group text-center">
                <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mx-2">Edit</a>
                <a asp-action="Index" class="btn btn-success mx-2">Back to List</a>
            </div>
        </div>
    </form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
