@using System.Net.Http
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization

@model IEnumerable<OrganicOption.Models.Notifications.Notification>

@inject IHttpContextAccessor HttpContextAccessor


@inject OrganicOption.Service.NotificationService notificationService

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
    var unreadCount = 0;
    if (userId != null)
    {
        unreadCount = notificationService.GetUnreadNotifications(userId).Count();
    }
}

@foreach (var notification in Model)
{
    string roleLink = "";

    if (User.IsInRole("Customer"))
    {
        roleLink = Url.Action("Index", "Deshboard", new { area = "User" });
    }
    else if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        roleLink = Url.Action("AllOrders", "Order", new { area = "Customer" }); 
    }
    else if (User.IsInRole("Farmer"))
    {
        roleLink = Url.Action("AllOrdersGroupedByDate", "Inventory", new { area = "Farmer" });
       
    }
    else if (User.IsInRole("Rider"))
    {
        roleLink = Url.Action("RiderOrders", "Order", new { area = "Rider" }); 
    }

    if (!string.IsNullOrEmpty(roleLink))
    {
        <a class="dropdown-item d-flex align-items-center" href="@roleLink"
           style="display: flex; align-items: center; padding: 0.75rem 1.25rem; text-decoration: none;">
            <div class="mr-3" style="flex-shrink: 0;">
                <div class="icon-circle" style="width: 2rem; height: 2rem; display: flex; align-items: center; justify-content: center; background-color: #e9ecef; border-radius: 50%;">
                    <i class="fa-solid fa-suitcase" style="font-size: 1rem;"></i>
                </div>
            </div>
            <div style="flex: 0.7">
                <div class="small text-gray-400" style="font-size: 0.8rem; color: #6c757d;">@notification.DateCreated.ToString("MMMM dd, yyyy")</div>
                <span class="font-weight-bold" style="font-size: 0.8rem;">@notification.Message</span>
            </div>
        </a>
    }
}
