﻿@{
    ViewData["Title"] = "Index";
}
<div class="container">
<br />
<div class="row">
    <div class="col-6">
        <h3 class="text-info">Roles</h3>
    </div>
    <br />
   
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Role</a>

        <a asp-area="Admin" type="button" asp-controller="Role" asp-action="Assign" class="btn btn-warning">Assign Role </a>
        <a asp-area="Admin" type="button" asp-controller="Role" asp-action="AssignUserRole" class="btn btn-danger">View Role </a>
      
    </div>
</div>
<br />
<div>
        <table class="table table-striped border" id="myTable">
        <tr class="table-info">
            <th>
                Name
            </th>

            <th></th>
        </tr>
        @foreach (var item in ViewBag.Roles)
        {
            <tr>
                <td>@item.Name</td>
                <td style="width: 150px">
                    <div class="btn-group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">
                            <i class="far fa-edit"></i>
                        </a>

                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
</div>

