@model IEnumerable<OrganicOption.Models.Notifications.Notification>

<div class="container mt-5">
    <h4 class="text-center mb-4" style="font-size: 2rem;">All Notifications</h4>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info text-center" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th style="font-size: 1.0rem; text-align: left;">Message</th>
                    <th style="font-size: 1.0rem; text-align: center;">Date Created</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var notification in Model)
                {
                    <tr>
                        <td style="font-size: 1.1rem; text-align: left; padding-left: 20px;">
                            @notification.Message
                        </td>
                        <td style="font-size: 1.1rem; text-align: center;">
                            @notification.DateCreated.ToString("g")
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a asp-area="Customer" asp-controller="Notifications" asp-action="ClearAllNotifications" class="btn btn-danger btn-lg">
            Clear All Notifications
        </a>
    </div>
</div>
