@model IEnumerable<OrganicOption.Models.Notifications.Notification>

<h4>Latest Notifications</h4>
<ul>
    @foreach (var notification in Model)
    {
        <li>
            @notification.Message - @notification.DateCreated
            <a href="@Url.Action("MarkAsRead", "Notifications", new { id = notification.Id })">Mark as read</a>
        </li>
    }
</ul>



<a asp-area="Customer" asp-controller="Notifications" class="btn btn-danger" asp-action="Index"> All Notifications</a>