@model List<OrganicOption.Models.FarmerShop>
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="get" action="@Url.Action("FarmerShop", "FarmerShop")" class="p-4 shadow-sm rounded bg-light d-flex align-items-center">
                <div class="form-group flex-grow-1 mb-0">
                    <label for="range" class="sr-only">Select Range:</label>
                    <select class="form-control" id="range" name="range">
                        <option value="7">7 km</option>
                        <option value="15">15 km</option>
                        <option value="30">30 km</option>
                        <option value="100000">30 km +</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ml-2">Filter</button>
            </form>
        </div>
    </div>
</div>


<div class="row">
    @foreach (var shop in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (shop.CoverPhoto != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(shop.CoverPhoto)" class="card-img-top" style="width:100%; height:200px" alt="Shop Image">
                }
                else
                {
                    <p>No cover photo available</p>
                }
                <div class="card-body">
                    <h5 class="card-title">@shop.ShopName</h5>
                    <p>@(shop.IsShopOpen ? "Shop is open" : "Shop is closed")</p>
                    <a href="@Url.Action("Shop", "FarmerShop", new { area = "Farmer", shopId = shop.Id })" class="btn btn-warning">Visit Shop</a>
                </div>
            </div>
        </div>
    }
</div>
