<div class="container mt-5 text-center">
    <h3>No Shop Exists.</h3>
    <h3>You can create a shop by clicking this:</h3>
    <a asp-area="Farmer" asp-controller="FarmerShop" asp-action="Create" class="btn btn-info mt-3">
        Create Shop
    </a>
</div>
