@model List<OrganicOption.Models.FarmerShop>


<div class="row">
    <div class="col-md-6">
        <form method="get" action="@Url.Action("FarmerShop", "FarmerShop")">
            <div class="form-group justify-content-center">
                <label for="range">Select Range:</label>
                <select class="form-control" id="range" name="range">
                    <option value="7">7 km</option>
                    <option value="15">15 km</option>
                    <option value="30">30 km</option>
                    <option value="100000">30 Km +</option>
                </select>


                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>
    <div class="col-md-6"> </div>
</div>


<br />
<br />
<div class="row">
    @foreach (var shop in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (shop.CoverPhoto != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(shop.CoverPhoto)" class="card-img-top" style="width:100%; height:200px" alt="Shop Image">
                }
                else
                {
                    <p>No cover photo available</p>
                }
                <div class="card-body">
                    <h5 class="card-title">@shop.ShopName</h5>
                    <p>@(shop.IsShopOpen ? "Shop is open" : "Shop is closed")</p>
                    <a href="@Url.Action("Shop", "FarmerShop", new { area = "Farmer", shopId = shop.Id })" class="btn btn-warning">Visit Shop</a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                alert("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.");
                break;
        }
    }
</script>

