@model OnlineShop.Models.Products
@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">


    <form asp-action="" method="post" enctype="multipart/form-data" style="margin:10px; padding:10px">
        <div class="card p-4 text-center justify-content-center" style="margin-left:20px;margin-right:20px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="text-infoffcanvas ">Product Details</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="main-img">
                        @if (Model.ImagesSmall != null && Model.ImagesSmall.Any())
                        {
                            <img class="img-fluid main-image" src="~/@Model.ImagesSmall.FirstOrDefault()?.ImagePath" style="height:280px; width:60%; border-radius: 2px; border: 1px solid #efefef" alt="ProductS">
                        }

                        <div class="row my-4 text-center justify-content-center">
                            @foreach (var image in Model.ImagesSmall.Skip(1))
                            {
                                <div class="col-3">
                                    <img class=" preview-image" src="~/@image.ImagePath" style="height:70px;font-weight:60px; border-radius: 2px; border: 1px solid #efefef" alt="Preview">
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group row mt-2">
                        <label asp-for="Name" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <input type="hidden" asp-for="Id" />
                            <input asp-for="Name" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="Price" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <input asp-for="Price" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="Description" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <input asp-for="Description" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="Quantity" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <input asp-for="Quantity" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="ProductTypeId" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" readonly="readonly" class="form-control"></select>
                            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="SpecialTagId" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <select asp-for="SpecialTagId" asp-items="ViewBag.TagId" readonly="readonly" class="form-control"></select>
                            <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="IsAvailable" class="col-form-label col-lg-4"></label>
                        <div class="col-lg-8">
                            <input asp-for="IsAvailable" disabled="disabled" class="" type="checkbox" />
                            <span asp-validation-for="IsAvailable" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-lg-4">Expires On</label>
                        <div class="col-lg-8">
                            @{
                                TimeSpan difference = Model.ExpirationTime - DateTime.Now;
                                int d = (int)difference.TotalDays;
                                int hours = difference.Hours;
                                int minutes = difference.Minutes;
                                int seconds = difference.Seconds;
                            }
                            <span>@d D @hours H @minutes Min</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <a asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-primary">Edit Product</a>
                <a asp-action="Index" class="btn btn-success">Back to Shop</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.preview-image').click(function () {
                var newSrc = $(this).attr('src');
                $('.main-image').attr('src', newSrc);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
