@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container mt-3">
    <a href="javascript:history.back()" class="btn btn-secondary mb-3"><i class="fa fa-arrow-left"></i> Back</a>
<div class="text-center justify-content-center">
        <h3>@ViewData["Title"]</h3>
        <p>
            Please check your email to reset your password.
        </p>
</div>

</div>

