<div class="top-bar  text-dark p-2 text-center justify-content-center">
    <ul class="nav text-center justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-light" href="#">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">
                <i class="fas fa-list"></i> My Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">
                <i class="fas fa-chart-bar"></i> Performance
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">
                <i class="fas fa-wallet"></i> Wallet
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">
                <i class="fas fa-cog"></i> Settings
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <h4>This Rider is already Exist</h4>

</div>
