@model OnlineShop.Models.Order
﻿@using OnlineShop.Models
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order Details";
}
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");

    if (products == null)
    {
        products = new List<Products>();
    }

}


@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}
﻿@using System.Net.Http


@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;

    count = products.Count();

}


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card p-4 shadow-sm" style="width: 800px; border-radius: 5px;">

        <div class="row">
            <h3 class="text-center  mb-4">Select Payment Method</h3>
            <div class="col-md-6">


                <div class="card-body">
                 

                    <form id="paymentForm" method="post" action="CreatePayment">
                        <input type="hidden" name="orderId" value="@ViewBag.orderId" />

                        <!-- Payment Method Options -->
                        <div class="form-check mb-4 card" style="width:350px; height:100px">
                            <input class="form-check-input" type="radio" style="width:20px;height:20px" name="paymentMethod" id="cashOnDelivery" value="CashOnDelivery" checked onchange="handlePaymentMethodChange()">
                            <label class="form-check-label d-flex align-items-center" for="cashOnDelivery">
                                <img src="https://support.sitegiant.com/wp-content/uploads/2022/08/cash-on-delivery-banner.png" alt="Cash on Delivery" style="width: 200px; height: 100px;" class="me-2" />
                                <span style="font-size:20px"> Cash on Delivery</span>
                            </label>
                        </div>

                        <div class="form-check mb-4 card" style="width:350px; height:100px">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cardPayment" value="Card" onchange="handlePaymentMethodChange()">
                            <label class="form-check-label d-flex align-items-center" for="cardPayment">
                                <img src="https://www.mastercard.co.in/content/dam/public/mastercardcom/sg/en/consumers/find-a-card/images/world-mastercard-card_1280x720.jpg" alt="Card Payment" style="width: 200px; height: 100px;" class="me-2" />
                                <span style="font-size:20px"> Card Payment</span>
                            </label>
                        </div>

                        <div class="row mt-3" id="paymentFields" style="display: none;">

                        </div>

                        <div class="d-flex justify-content-between">
                            
                            <a asp-area="User" id="confirmButton" onclick="confirmCashOnDelivery()" asp-controller="Deshboard" asp-action="Index" class="btn btn-success w-100">Cash on Delivery</a>
                            <button id="paymentButton" type="submit" class="btn btn-success w-100">Pay With Stripe</button>
                        </div>
                    </form>


                </div>

            </div>

            <div class="col-md-6 justify-content-end ">


                <div class="row justify-content-end ">
                    <div class="text-right  ml-4">
                        <img src="https://img.freepik.com/free-vector/hand-holding-phone-with-credit-card-screen-man-making-purchase-shopping-paying-online-using-banking-app-flat-vector-illustration-transaction-e-commerce-concept_74855-26014.jpg?semt=ais_hybrid" alt="Payment" style="width: 700px; height: 300px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function handlePaymentMethodChange() {
            var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
            var paymentFields = document.getElementById("paymentFields");
            var paymentButton = document.getElementById("paymentButton");
            var confirmButton = document.getElementById("confirmButton");

            if (paymentMethod === "Card") {
                paymentFields.style.display = "block";
                paymentButton.style.display = "block";
                confirmButton.style.display = "none";
            } else {
                paymentFields.style.display = "none";
                paymentButton.style.display = "none";
                confirmButton.style.display = "block";
            }
        }

        function confirmCashOnDelivery() {
            document.getElementById("paymentForm").submit();
        }

        document.addEventListener('DOMContentLoaded', handlePaymentMethodChange);
    </script>
}
