@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Details";
}
<div class="container ">
    <button class="btn btn-secondary ProductCategory-back-btn" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left"></i> Back
    </button>

    <div class="container ProductCategory-container">
        <h4 class="text-info">Tag Details</h4>

        <form asp-action="Details" method="post">
            <div class="p-4 rounded border">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>


                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>



                <div class="form-group mt-3">

                    <a asp-action="Index" class="btn btn-success">Back to List</a>

                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


